:root {
  --oxford-blue: rgb(5, 8, 31);
  --blue-crayola: #3071e8ff;
  --white: #ffffffff;
  --neon-x-color: #f40;
  --neon-o-color: #08f;
  --board-size: 280px;
  --line-size: 5px;
  --cell-size: 90px; /* (board-size - 2*(line-size))/3 */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--oxford-blue);
  font-size: 1.6rem;
  font-family: cursive;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.result {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 20px;
}

.score {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  flex-direction: column;
  padding: 5px 8px;
  font-size: 1.2rem;
  color: var(--white);
}

.score span:last-of-type {
  opacity: 0.8;
}

.board {
  width: var(--board-size);
  height: var(--board-size);
  display: grid;
  grid-template-columns: repeat(3, var(--cell-size));
  grid-template-rows: repeat(3, var(--cell-size));
  gap: var(--line-size);
  position: relative;
}

.line {
  position: absolute;
  background-color: var(--blue-crayola);
  border-radius: 5px;
  animation: line-show 0.8s;
  animation-delay: 0.2s;
}

.vr-line {
  width: var(--line-size);
  height: var(--board-size);
  left: var(--cell-size);
}

.hr-line {
  width: var(--board-size);
  height: var(--line-size);
  top: var(--cell-size);
}

.hr-2 {
  top: calc(2 * var(--cell-size));
}

.vr-2 {
  left: calc(2 * var(--cell-size));
}

.board-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.board-cell.active {
  color: var(--white);
  font-size: 75px;
  z-index: 10;
  opacity: 1;
}

.board-cell.O::before,
.board-cell.X::before {
  opacity: 0;
  transform: scale(0);
  transition: all 0.1s ease-in-out;
}

.board-cell.O.active::before,
.board-cell.X.active::before {
  opacity: 1;
  transform: scale(1);
}

.board-cell.X::before {
  content: "X";
  text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--neon-x-color), 0 0 4rem var(--neon-x-color),
    0 0 6rem var(--neon-x-color), 0 0 8rem var(--neon-x-color),
    0 0 10rem var(--neon-x-color);
}

.board-cell.O::before {
  content: "O";
  text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--neon-o-color), 0 0 4rem var(--neon-o-color),
    0 0 6rem var(--neon-o-color), 0 0 8rem var(--neon-o-color),
    0 0 10rem var(--neon-o-color);
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--blue-crayola);
  color: var(--white);
  text-align: center;
  border-radius: 2px;
  padding: 10px 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible !important;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/** animation **/
@keyframes line-show {
  from {
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
